<section class="py-3">
  <div class="container">
    <h1 class="text-center">About us</h1>
    <div class="row">
      <div class="col-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel lacus
          sodales, imperdiet libero viverra, consectetur lorem. Aenean sed neque
          sapien. Sed vulputate imperdiet enim in fringilla. Vivamus a tristique
          purus. Curabitur blandit augue eget ullamcorper egestas. Phasellus
          egestas cursus auctor. In fringilla, ante eu fringilla finibus, lorem
          eros semper mauris, quis efficitur erat tellus ut justo. Aliquam
          condimentum libero neque, in vulputate leo vehicula sit amet.
        </p>
        <blockquote class="blockquote">
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            posuere erat a ante.
          </p>
          <footer class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
      <div class="col-6">
        <p>
          Curabitur ullamcorper, ante in lobortis consectetur, libero odio
          vulputate elit, vel condimentum odio velit placerat augue.
        </p>
        <blockquote class="blockquote">
          <p class="mb-0">
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus
          </p>
          <footer class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
        <p>
          Curabitur ullamcorper, ante in lobortis consectetur, libero odio
          vulputate elit, vel condimentum odio velit placerat augue. Maecenas
          tempus, massa nec vulputate consectetur, mi libero auctor elit, ut
          vestibulum nisi neque vel massa. In elementum, eros sit amet tincidunt
          viverra, quam leo aliquam nisl, eu tempor lacus ipsum a ex.
        </p>
      </div>
    </div>
  </div>
</section>
