<section class="py-3">
  <div class="container">
    <div class="row" *ngIf="product">
      <div class="col-6">
        <img
          src="{{ product.image }}"
          class="img-fluid img-thumbnail"
          alt="Responsive image"
        />
      </div>
      <div class="col-6">
        <div class="">
          <h1>{{ product.name }}</h1>
          <p>{{ product.price }}$</p>
          <button class="btn btn-success">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</section>
