<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Angular Shopping App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active"
            >Products <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"
            >Contact us <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >About us <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <a routerLink="/manager" routerLinkActive="active"
        >Manager <span class="sr-only">(current)</span></a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer
  class="d-flex align-items-center justify-content-center footer"
  style="background-color: #f8f9fa; color: black"
>
  <p class="m-0 align-middle">
    © 2019 Angular Shopping App. All Rights Reserved | Design by
    <a
      style="color: crimson"
      href="https://https://github.com/tungtx2408"
      target="_blank"
      >TungTX2408</a
    >
  </p>
</footer>
