<section class="py-3">
  <div class="container">
    <div class="text-center mb-3"><h1>All products</h1></div>
    <div class="row">
      <div
        class="col-3 mt-3"
        *ngFor="let product of products"
        routerLink="/products/{{ product.id }}"
        style="cursor: pointer;"
      >
        <div class="card">
          <img
            src="{{ product.image }}"
            class="card-img-top"
            alt="Error: 404"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Price: {{ product.price }}$</p>
            <a routerLink="/products/{{ product.id }}" class="btn btn-primary"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
